<form action="<%= users_url %>" method="post">
  <input type="hidden" name="_method" value="post">
  <%= render "shared/auth_token" %>
  <div>
    <label for="user[username]">Username: </label>
    <input type="text" name="user[username]">
  </div>
  <div>
    <label for="user[password]">Password: </label>
    <input type="password" name="user[password]">
  </div>
  <%= button_to 'Sign Up' %>
</form>
