<h1> Edit <%= @sub.title %> </h1>

<%= render "shared_form", action: sub_url,
                          method: "patch",
                          sub_title: @sub.title,
                          sub_description: @sub.description,
                          sub_moderator: @sub.moderator_id %>
