<h1> Edit Post </h1>

<%= render "shared_form", action: posts_url,
                          method: "patch",
                          post_title: @post.title,
                          post_url: @post.url,
                          post_content: @post.content,
                          post_sub: @post.sub_id,
                          post_author: @post.author_id %>
